<?xml version='1.0' encoding='utf-8'?>
	<plugin 
		xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="veeplay-cordova-plugin" 
		version="1.1.0">

	<name>veeplay-cordova-plugin</name>
	<js-module name="veeplay-cordova-plugin" 
		src="www/veeplay-cordova-plugin.js">
		<clobbers target="veeplay" />
	</js-module>

	<platform name="android">
		<framework src="src/android/veeplay.gradle" custom="true" type="gradleReference" />

		<config-file 
			parent="/*" 
			target="res/xml/config.xml">

			<feature name="veeplay-cordova-plugin">
				<param name="android-package" value="com.veeplay.cordova.VeeplayCordovaPlugin" />
			</feature>
		</config-file>

		<config-file 
			parent="/manifest/application" 
			target="AndroidManifest.xml">
			<activity
			android:name="com.appscend.utilities.WebBrowser"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
			</activity>
		</config-file>
		<source-file 
			src="src/android/VeeplayCordovaPlugin.java" 
			target-dir="src/com/veeplay/cordova/" />
		<source-file 
			src="src/android/VeeplayCastConfigurationWrapper.java" 
			target-dir="src/com/veeplay/cordova/" />
		</platform>
	</plugin>