<?xml version='1.0' encoding='utf-8'?>
	<plugin 
		xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.veeplay.cordova" 
		version="1.0.0">

	<name>veeplay-cordova-plugin</name>
	<js-module name="veeplay-cordova-plugin" 
		src="www/veeplay-cordova-plugin.js">
		<clobbers target="cordova.plugins.veeplay-cordova-plugin" />
	</js-module>

	<platform name="android">
		<framework src="src/android/veeplay.gradle" custom="true" type="gradleReference" />

		<config-file 
			parent="/*" 
			target="res/xml/config.xml">

			<feature name="veeplay-cordova-plugin">
				<param name="android-package" value="com.veeplay.cordova.veeplay-cordova-plugin" />
			</feature>
		</config-file>

		<config-file 
			parent="/*" 
			target="AndroidManifest.xml">
		</config-file>
		<source-file 
			src="src/android/veeplay-cordova-plugin.java" 
			target-dir="src/com/veeplay/cordova/veeplay-cordova-plugin" />
		</platform>
	</plugin>